<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="articles.css">
    <title>Articles List</title>
</head>
<body>
<button class="addButton">
    <h1 class="addAnArticle"><a href="/">Add an article</a></h1>
</button>
<h1>Article List</h1>

<div class="search-bar">
    <form method="get" action="/search">
        <label>
            <input type="text" name="title" class="search-input" placeholder="Search by title">
        </label>
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

{% if messages %}
    <div class="validation-message">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="sort-alphabetical">
    <form method="get" action="/sort-az">
        <button type="submit" class="az-button">Sort A-Z</button>
    </form>
    <form method="get" action="/sort-za">
        <button type="submit" class="za-button">Sort Z-A</button>
    </form>
</div>

{% if articles %}
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <h3>{{ article.category }}</h3>
                <p>{{ article.text }}</p>
                <div class="button-container">
                    <form method="post" action="/edit-article">
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                        <button class="edit-button" type="submit">Edit</button>
                    </form>
                    <form method="post" action="/delete-article">
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No articles available.</p>
{% endif %}
</body>
</html>