<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles List</title>
    <style>
        .addAnArticle {
            color: blue;
            font-size: 35px;
            text-underline: black;
        }
        body {
            background-image: url('/wano-background.jpg');
            font-family: Arial, sans-serif;
        }
        h1 { text-align: center; font-size: 5vh}
        ul { list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-around; }
        li { font-size: 20px; width: 42%; margin: 10px; padding: 15px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); transition: transform 0.2s ease-in-out; }
        li:hover { transform: scale(1.05); }
        p { word-wrap: break-word; }
        .delete-button { font-size: 1.5vh; background-color: #dc3545; color: #fff; border: none; padding: 15px 17px; border-radius: 5px; cursor: pointer; }
        .delete-button:hover { background-color: #c82333; }
        .edit-button { font-size: 1.5vh; background-color: #007bff; color: #fff; border: none; padding: 15px 17px; border-radius: 5px; cursor: pointer; }
        .edit-button:hover { background-color: #218838; }
        .button-container { margin-bottom: 0; display: flex; justify-content: space-between; }
        .validation-message {
            background-color: #4CAF50;
            margin-left: 30%;
            margin-right: 30%;
            color: #fff;
            border-radius: 5px;
            margin-bottom: 5%;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .search-bar {
            margin-bottom: 20px;
            text-align: center;
        }
        .search-input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 50%;
            margin-bottom: 10px;
        }
        .search-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .search-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<h1 class="addAnArticle"><a href="/">Add an article</a></h1>
<h1>Article List</h1>

<div class="search-bar">
    <form method="get" action="/search">
        <input type="text" name="title" class="search-input" placeholder="Search by title">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

{% if messages %}
    <div class="validation-message">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if articles %}
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.text }}</p>
                <div class="button-container">
                    <form method="post" action="/edit-article">
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                        <button class="edit-button" type="submit">Edit</button>
                    </form>
                    <form method="post" action="/delete-article">
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No articles available.</p>
{% endif %}
</body>
</html>